*{box-sizing: border-box;}

body{
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color:hsl(212, 45%, 89%) ;
    min-height: 100vh;
    margin: 0;   
}  
.h{    
    text-align: center;   
    font-weight: 700;
    width: 340px;    
}
.p{  
    text-align: center;
    font-size: 15px;   
}
.contenair{   
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    box-shadow: 10px 10px 50px gray;
    max-width: 375px;   
}   
.attribution{
    display: flex;
    flex-direction: row;
    align-items: flex-start;  
}
.pic{
    background-image:"image-qr-codemini.png" ;
   border:10px solid  hsl(216, 95%, 57%);
    border-radius: 20px;
    display: flex;
    max-width: 365px;  
} 
img{
    max-width: 330px;
}
